.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



body {
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #ffffff;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}
